@include foundation-everything(true);
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

html, body {
  background: url(https://images.unsplash.com/photo-1595769816263-9b910be24d5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1479&q=80) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  font-family: 'Limelight', cursive;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Limelight';
  font-size: 30px;
  color: white;
}

h3 {
  font-family: 'Limelight';
  font-weight: bold;
}
h4 {
font-family: 'Baloo Da 2', cursive;
font-size: 30px;
font-weight: bolder;
}

/* .searchBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
} */

/* Nav bar */
.top-bar {
  background-color: #86242A;
  
}

.top-bar .menu {
  background-color: #86242a;
}

.top-bar-left a {
  color: black;
  font-size: 40px;
}

.top-bar-right a {
  color: rgb(215, 226, 17);
  font-size: 20px;
}
ul .menu {
  height: 100vh;
}
/* Search block */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255,255,255,.2);
  padding: 20px;
  text-align: center;
  max-width: 1000px;
  margin-top: 20px;
}

.hero .lead-text {
  background-color: white;
  padding: 30px;
}

.hero p {
}

form {
  padding: 20px;
  width: 100vw;
  max-width: 80%;
  
}

.input {
  opacity: 100%;
 
}

#searchButton {
  background-color: #86242A;
}

.button:hover {
  background-color: #e3b6b9;
  color: black;
}

/* search history */


.searchHistoryContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  background-color: rgba(255,255,255,.2);
  max-width: 1100px;
  margin-top: 20px;
}

.moviePoster {
  /* border: 2px solid #86242A;
  background-color: #86242A;
  margin: 5px;
  padding: 1px;
  max-height: 100vh; */
 }

.card {
    margin: 10px 20px 10px 10px;
    min-height: 400px;
    min-width: 200px;
    max-height: 400px;
    max-width: 300px;
    height: 80%;
}



.card-section {
  position: relative;
  text-align: center;
  color: white;

}

.centered-text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

footer {

}

img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  border: solid white 1px;
}